<ion-content>
  <div *ngIf="!isIos&&showIonFab">
    <ion-fab center bottom>
      <button ion-fab>去这里</button>
      <ion-fab-list side="left">
        <button ion-fab color="danger" (click)="mapNavigation(1)">驾车</button>
      </ion-fab-list>
      <ion-fab-list side="right">
        <button ion-fab color="dark" (click)="mapNavigation(2)"> 公交</button>
      </ion-fab-list>
      <ion-fab-list side="top">
        <button ion-fab color="secondary" (click)="mapNavigation(3)">步行</button>
      </ion-fab-list>
    </ion-fab>
  </div>
  <div class="fab-btn" *ngIf="isIos&&showIonFab">
    <button ion-button small (click)="mapNavigation(1)">驾车</button>
    <button ion-button small (click)="mapNavigation(2)">公交</button>
    <button ion-button small (click)="mapNavigation(3)">步行</button>
  </div>
  <div *ngIf="mapIsComplete">
    <ion-searchbar class="searchBar" (ionFocus)="ionFocus()" placeholder="搜索" [ngStyle]="{'top': isIos?'16px':''}"></ion-searchbar>
  </div>
  <div *ngIf="mapIsComplete&&!isPositioning">
    <ion-icon name="radio-button-on" class="position-btn" (click)="mapLocation()"></ion-icon>
  </div>
  <div id="map_container" class="map_container"></div>
</ion-content>
