page-form-validation-demo {
  ion-content {
    .scroll-content {
      background: #eee;
    }
    .title {
      color: #666;
      padding: 10px;
    }
    .list-ios{
      margin-bottom: 16px;
    }
  }
}
