<ion-header>
  <ion-toolbar>
    <ion-title>
      编辑个人信息
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios">关闭</span>
        <ion-icon name="md-close" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>姓名 <span padding-left *ngIf="verifyMessages.name.errorMsg" color="danger">{{verifyMessages.name.errorMsg}}</span></ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>手机号码 <span padding-left *ngIf="verifyMessages.phone.errorMsg" color="danger">{{verifyMessages.phone.errorMsg}}</span></ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>电子邮箱 <span padding-left *ngIf="verifyMessages.email.errorMsg" color="danger">{{verifyMessages.email.errorMsg}}</span></ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button type="submit" ion-button block [disabled]="!userForm.valid">保 存</button>
    </div>
  </form>
</ion-content>
