page-form-demo {
  .contacts {
    ion-row {
      color: #333;
      ion-icon {
        font-size: 22px;
        font-weight: bold;
      }
      ion-col {
        padding: 2px 4px;
      }
      .contacts-input {
        width: 100%;
        height: 28px;
        border: 1px solid #c8c7cc;
      }
    }
  }
}
