page-mine {
  .mine-header {
    color: #fff;
    button {
      background-color: color($colors, primary);
      color: #fff;
    }
    button.activated {
      background-color: #337eff;
    }
    .description {
      color: #eee;
      font-size: 1.2rem
    }
  }
}
